<div class="container page-wrapper">
  <div class="row">
    <div class="page_title">
      <h2>お気に入りユーザー 一覧</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag(user, :profile_image, size: "100x100",style: "border-radius: 50%;", fallback: "no_image.jpg") %></td>
            <td><%= user.name %></td>
            <td>
              <%= link_to '詳細', user_path(user), class: "btn btn-default btn-success" %>
            </td>
            <td>
              <% if current_user.following?(user) %>
                <%= link_to unfollow_path(user.id),class: "btn btn-defaul btn-info",method: :POST do %>
                  <i class="fa fa-heart" aria-hidden="true"></i>お気に入り解除
                <% end %>
              <% else %>
                <%= link_to follow_path(user.id),class: "btn btn-defaul btn-info btn-warning", method: :POST do %>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>お気に入り登録
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>