<div class="container page-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="page_title">
        <h2>メンバー検索フォーム</h2>
      </div>
    </div>
      <%= form_with url: user_search_path, method: :get, local: true do |f| %>
        <div class="col-xs-12">
          <dl id="acMenu">
            <dt>ニックネーム</dt>
            <dd><%= f.text_field :name, class: "name_field" %></dd>
            <dt>性別</dt>
            <dd>
              <%= f.radio_button :gender, :男性 %>
              <%= f.label :gender, "男性" %>
              <%= f.radio_button :gender, :女性 %>
              <%= f.label :gender, "女性" %>
            </dd>
            <dt>活動地域</dt>
            <dd>
              <%= f.collection_check_boxes(:prefecture_ids, Prefecture.all, :id, :name, include_hidden: false) do |area| %>
                <%= area.label {area.check_box + area.text} %>
              <% end %>
            </dd>
            <dt>パート</dt>
            <dd>
              <%= f.collection_check_boxes(:part_ids, Part.all, :id, :name, include_hidden: false) do |part| %>
                <%= part.label {part.check_box + part.text} %>
              <% end %>
            </dd>
            <dt>ジャンル</dt>
            <dd>
              <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name, include_hidden: false) do |genre| %>
                <%= genre.label {genre.check_box + genre.text} %>
              <% end %>
            </dd>
          </dl>
        </div>
        <div class="actions col-xs-6 col-xs-offset-3">
          <%= f.submit "ユーザーを検索する", class: "btn btn-block btn-success bs_btn_wide", style: "margin-bottom: 30px;" %>
        </div>
      <% end %>
  </div>
  <!-- 検索結果表示 -->
  <div class="row">
    <div class="col-xs-12">
      <div class="page_title">
        <h3>検索結果一覧</h3>
      </div>
      <% @users.each do |user| %>
        <table class="table">
          <tbody>
            <tr>
              <td class="col-xs-3">
                <%= attachment_image_tag(user, :profile_image, size: "60x60",style: "border-radius: 50%;", fallback: "no_image.jpg") %>
                <p><%= link_to user.name, user_path(user.id),class: "top__link" %>(<%= user.age %>歳 | <%= user.gender %>)</p>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <%= paginate @users %>
    </div>
  </div>
</div>
<!-- 動作確認用記述 -->
<!-- 所定のファイルへ移動予定 -->
<script>
$(function(){
  $("#acMenu dt").on("click", function() {
    $(this).next().slideToggle();
  });
});
</script>