<div class="container">
  <div class="row">
    <h1>Users::Users#show</h1>
    <h3>マイページ トップ</h3>
    <p>Find me in app/views/users/users/show.html.erb</p>
    <div class="">
      <table class="table">
        <tbody>
          <tr>
            <tb>
              <%= attachment_image_tag(@user, :profile_image, :fill, 200, 200,style: "border-radius: 50%;", fallback: "no_image.jpg") %>
            </tb>
          </tr>
          <tr>
            <td><strong>ユーザー名</strong></td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td><strong>性別</strong></td>
            <td><%= @user.gender %></td>
          </tr>
          <tr>
            <td><strong>年齢</strong></td>
            <td><%= @user.age %></td>
          </tr>
          <tr>
            <td><strong>活動エリア</strong></td>
            <td>
              <% @user.prefectures.each do |pref| %>
                <%= pref.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>担当パート</strong></td>
            <td>
              <% @user.parts.each do |part| %>
                <%= part.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><strong>好みのジャンル</strong></td>
            <td>
              <% @user.genres.each do |genre| %>
                <%= genre.name %>
              <% end %>
            </td>
          </tr>
          </tr>
          <tr>
            <td><strong>自己紹介文<strong></td>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <%= link_to "プロフィール編集", edit_user_path, class: 'btn btn-default btn-success' %>
      </div>
    </div>
  </div>
</div>