<div class="container page-wrapper">
  <div class="row ">
    <div class="col-xs-12">
      <div class="page_title">
        <h3>投稿記事一覧</h3>
      </div>
      <p class="alert-success"><%= notice %></p>
      <p class="alert-danger"><%= alert %></p>
      <table class="table">
        <thead>
          <tr>
            <th class="col-xs-1">ID</th>
            <th class="col-xs-1">アイコン</th>
            <th class="col-xs-1">ニックネーム</th>
            <th class="col-xs-1">記事タイトル</th>
            <th class="col-xs-1">ステータス</th>
            <th class="col-xs-1">記事種別</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @recruits.each do |recruit| %>
            <% user = User.find(recruit.user_id) %>
            <tr>
              <td class="col-xs-1"><%= recruit.id %></td>
              <td class="col-xs-1">
                <div class="top__usericon col-lg-1">
                  <%= attachment_image_tag(user, :profile_image, size: "60x60",style: "border-radius: 50%;", fallback: "no_image.jpg") %>
                </div>
              </td>
              <td class="col-xs-1"><%= user.name %></td>
              <td class="col-xs-3"><%= recruit.title %></td>
              <td class="col-xs-1"><%= recruit.is_status %></td>
              <td class="col-xs-1"><%= recruit.article_type %></td>
              <td class="col-xs-1">
                <%= link_to "詳細", admins_recruit_path(recruit.id),class: "btn btn-block btn-success" %>
              </td>
              <td class="col-xs-1">
                <%= link_to "編集", edit_admins_recruit_path(recruit.id),class: "btn btn-block btn-success" %>
              </td>
              <td class="col-xs-1">
                <%= link_to "削除", admins_recruit_path(recruit), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-default btn-block btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>