<div class="container page-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="page_title">
        <h3>ユーザー一覧</h3>
      </div>
      <p class="alert-success"><%= notice %></p>
      <p class="alert-danger"><%= alert %></p>
      <table class="table">
        <thead>
          <tr>
            <th class="col-xs-1">ID</th>
            <th class="col-xs-1">アイコン</th>
            <th class="col-xs-1">ニックネーム</th>
            <th class="col-xs-1">メールアドレス</th>
            <th class="col-xs-2">性別</th>
            <th class="col-xs-1">年齢</th>
            <th class="col-xs-3">ステータス</th>
            <th class="col-xs-1"></th>
            <th class="col-xs-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <!-- ゲストユーザー非表示 -->
            <% unless user.email == "guest@guest.com" %>
              <tr>
                <td class="col-xs-1">
                  <%= user.id %>
                </td>
                <td class="col-xs-1">
                  <%= attachment_image_tag(user, :profile_image, size: "60x60",style: "border-radius: 50%;", fallback: "no_image.jpg") %>
                </td>
                <td class="col-xs-1"><%= user.name %></td>
                <td class="col-xs-1"><%= user.email %></td>
                <td class="col-xs-2"><%= user.gender %></td>
                <td class="col-xs-1"><%= user.age %></td>
                <td class="col-xs-3">
                  <%= form_with model: user, url: admins_user_path(user.id),local: true do |f| %>
                    <%= f.label :is_member, "有効" %>
                    <%= f.radio_button :is_member, :有効 %>
                    <%= f.label :is_member, "無効" %>
                    <%= f.radio_button :is_member, :無効 %>
                    <%= f.submit "ステータス変更", class: "btn btn-default btn-danger" %>
                  <% end %>
                </td>
                <td class="col-xs-1">
                  <%= link_to "詳細", admins_user_path(user.id),class: "btn btn-block btn-success" %>
                </td>
                <td class="col-xs-1">
                  <%= link_to "編集", edit_admins_user_path(user.id),class: "btn btn-block btn-success" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>