<h1>Admins::Users#index</h1>
<p>Find me in app/views/admins/users/index.html.erb</p>
<div class="container">
  <div class="row">
    <h3>ユーザー一覧</h3>
    <table class="table">
      <thead>
        <tr>
          <th><p>アイコン</p></th>
          <th><p>ニックネーム</p></th>
          <th><p>メールアドレス</p></th>
          <th><p>性別</p></th>
          <th><p>年齢</p></th>
          <th><p>活動エリア</p></th>
          <th><p>担当パート</p></th>
          <th><p>好みのジャンル</p></th>
          <th><p></p></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= attachment_image_tag(user, :profile_image, :fill, 60, 60,style: "border-radius: 50%;", fallback: "no_image.jpg") %>
            </td>
            <td>
              <p><%= link_to user.name, admins_user_path(user.id),class: "top__link" %></p>
            </td>
            <td><p><%= user.email %></p></td>
            <td><p><%= user.gender %></p></td>
            <td><p><%= user.age %></p></td>
            <td>
              <% user.prefectures.each do |pref| %>
                <%= pref.name %>
              <% end %>
            </td>
            <td>
              <% user.parts.each do |part| %>
                <%= part.name %>
              <% end %>
            </td>
            <td>
              <% user.genres.each do |genre| %>
                <%= genre.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
