<div class="container">
  <div class="row">
    <h3>ユーザー一覧</h3>
    <p class="alert-success"><%= notice %></p>
    <p class="alert-danger"><%= alert %></p>
    <table class="table">
      <thead>
        <tr>
          <th><p>ユーザーID</p></th>
          <th><p>アイコン</p></th>
          <th><p>ニックネーム</p></th>
          <th><p>メールアドレス</p></th>
          <th><p>性別</p></th>
          <th><p>年齢</p></th>
          <th><p>ステータス</p></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= attachment_image_tag(user, :profile_image, :fill, 60, 60,style: "border-radius: 50%;", fallback: "no_image.jpg") %>
            </td>
            <td><p><%= user.name %></p></td>
            <td><p><%= user.email %></p></td>
            <td><p><%= user.gender %></p></td>
            <td><p><%= user.age %></p></td>
            <td>
              <%= form_with model: user, url: admins_user_path(user.id),local: true do |f| %>
                <%= f.label :is_member, "有効" %>
                <%= f.radio_button :is_member, :有効 %>
                <%= f.label :is_member, "無効" %>
                <%= f.radio_button :is_member, :無効 %>
                <%= f.submit "ステータス変更", class: "btn btn-default btn-danger" %>
              <% end %>
            </td>
            <td>
              <p><%= link_to "詳細", admins_user_path(user.id),class: "btn btn-block btn-success" %></p>
            </td>
            <td>
              <p><%= link_to "編集", edit_admins_user_path(user.id),class: "btn btn-block btn-success" %></p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
