<div class="container page-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="page_title">
        <h2>メッセージフォーム</h2>
      </div>
    </div>
  </div>
  <!-- メッセージ表示部分 -->
  <% @room.messages.each do |message| %>
    <% if message.user_id == current_user.id %>
      <div class="row">
        <div class="item_right col-xs-6 pull-right">
          <div style="word-break: break-word;"><%= message.body %></div>
          <div class="text-right">
            <%= link_to "削除", message, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn btn-defaul btn-danger" %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="">
          <div class="col-xs-1 pull-left">
            <% user = User.find_by(id: message.user_id) %>
            <%= attachment_image_tag(message.user, :profile_image, size: "60x60",style: "border-radius: 50%;", fallback: "no_image.jpg") %>
          </div>
          <div class="item_left col-xs-5 pull-left">
            <div style="word-break: break-word;"><%= message.body %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="dm_form col-xs-8 col-xs-offset-2">
      <!-- メッセージ送信フォーム -->
      <% if @user != false %>
        <%= form_with model: @message, url: messages_path, local: true do |f| %>
          <div class="">
            <%= f.text_area :body, size: "20x10", class: "form-control" %>
          </div>
          <%= f.hidden_field :room_id, value: @room.id %>
          <div class="actions col-xs-6 col-xs-offset-3">
            <%= f.submit "メッセージを送信", class: "btn btn-defaul btn-info bs_btn_wide", style: "margin-bottom: 30px;" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>