<!DOCTYPE html>
<html>
  <head>
    <title>Otolink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-expand-md navbar-fixed-top"><!-- navbar-light -->
        <div class="container">
          <div class="">
            <%= link_to "Otolink", root_path, class: "navbar-brand" %>
          </div>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="responsiveMenu">
            <ul class="nav navbar-nav navbar-right mr-auto">
              <li class="nav-item">
                <%= link_to root_path do %>
                  <i class="fa fa-home" aria-hidden="true"></i>ホーム
                <% end %>
              </li>
              <% if user_signed_in? %>
                <!-- ログイン時ヘッダー -->
                <li class="nav-item">
                  <%= link_to about_path do %>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>Otolinkとは
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to recruit_search_path do %>
                    <i class="fa fa-search" aria-hidden="true"></i>記事を探す
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_search_path do %>
                    <i class="fa fa-users" aria-hidden="true"></i>メンバーを探す
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to rooms_path do %>
                    <% if unchecked_notifications.any? %>
                      <span class="fa-stack n-stack">
                        <i class="fa fa-envelope fa-stack-2x n-envelope"></i>
                        <i class="fa fa-circle fa-stack-1x n-circle"></i>
                      </span>メッセージ
                    <% else %>
                      <i class="fa fa-envelope" aria-hidden="true"></i>メッセージ
                    <% end %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_path(current_user.id) do %>
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>マイページ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>ログアウト
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <!-- 管理者用ヘッダー -->
                <li class="nav-item">
                  <%= link_to admins_users_path do %>
                    <i class="fa fa-users" aria-hidden="true"></i>ユーザー一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admins_recruits_path do %>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>投稿記事一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>ログアウト
                  <% end %>
                </li>
              <% else %>
                <!-- 非ログイン時ヘッダー -->
                <li class="nav-item">
                  <%= link_to about_path do %>
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>Otolinkとは
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to recruit_search_path do %>
                    <i class="fa fa-search" aria-hidden="true"></i>記事を探す
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to user_search_path do %>
                    <i class="fa fa-users" aria-hidden="true"></i>メンバーを探す
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path do %>
                    <i class="fa fa-user-plus" aria-hidden="true"></i>新規登録
                    <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path do %>
                    <i class="fa fa-sign-in" aria-hidden="true"></i>ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <p>Portfolio App Otolink.</p>
      </div>
    </footer>
  </body>
</html>
